<!-- explorer_tree start -->
        <div class="tag_list"><ul id="tag-list">
            <li><a href="{{"/" | relative_url }}"><img src="{{ "/assets/img/disk.png" | relative_url }}" />(C:)</a>
                <ul>
                    {% assign tags = site.tags | sort %}
                   
                    {% for tag in tags %}

 {% assign list = site.taglist | where:'value',tag[0] %}
                    <li><a href="{{ site.baseurl }}/tag/">
                         <img src="{{ "/assets/img/folder.ico" | relative_url }}" />
{{ list | first | first }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul></div>
        <!-- explorer_tree end -->
